@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');


.header h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Roboto', sans-serif;
}


.about h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.skills h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.experience h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.education h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.links h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.contact h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.navbar-scrolling {
    background-color: #FEFFFF;

}

.nav-link {
    color: #FEFFFF;
    cursor: pointer;
    border-bottom: transparent solid 2px;
    padding-bottom: 5px;
}

.navbar-brand {
    color: transparent;
    cursor: default;
    border-bottom: transparent solid 2px;
    padding-bottom: 5px;
}

.navbar-brand:hover {
    color: transparent;
}

.navbar-brand-scrolling {
    color: #2B7A78;
    cursor: pointer;
    border-bottom: transparent solid 2px;
    padding-bottom: 5px;
}

.navbar-brand-scrolling:hover {
    color: #17252A;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #FEFFFF;
    border-bottom: #3AAFA9 solid 2px;
    border-radius: 1px;
}

.nav-link-scrolling {
    margin-right: 1em !important;
    color: #2B7A78;
}

.nav-link-scrolling:hover {
    color: #2B7A78;
    ;
    border-bottom: #17252A solid 2px;
    border-radius: 1px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar .navbar-collapse {
    text-align: center;
}

/*header style*/
.header {
    background: linear-gradient(rgba(20, 20, 20, .75),
        rgba(20, 20, 20, .75)),
        url('https://farm5.staticflickr.com/4824/44596390480_96a1226539_h.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


}

@media (max-width: 768px) {
    .header {
        background-attachment: scroll;
        background: linear-gradient(rgba(20, 20, 20, .75),
            rgba(20, 20, 20, .75)),
            url('https://farm5.staticflickr.com/4824/44596390480_583f50ca6e_z.jpg');
        background-size: cover;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

.header .icons {
    color: #3AAFA9;
    padding-right: 20px;
}

.header .icons:hover {
    color: #DEF2F1;
}

.header-icon {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

#header-scroll-icon {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.color-light {
    color: #DEF2F1;
}

.full-opacity {
    opacity: 1;
}


/*
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}*/

.description h1 {
    color: #3AAFA9;
}

.description p {
    color: #DEF2F1;
    font-size: 20px;
    line-height: 1.5;
    max-width: 80%;
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1 {
    color: #2B7A78;
    margin: 2em;
}

.about img {
    height: 100%;
    width: 100%;
    border-radius: 50%
}

.about span {
    display: block;
    color: #17252A;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #3AAFA9;
}

.about .desc p {
    line-height: 2;
    color: #17252A;
}

.skills {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.skills h1 {
    color: #2B7A78;
    margin: 2em;
}

.skill-icon-padding {
    padding-right: 10px;
}

.skill-card-margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

.skill-icon-color {
    color: #3AAFA9;
}

.card-shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.experience {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.experience h1 {
    color: #2B7A78;
    margin: 2em;
}

.education h1 {
    color: #2B7A78;
    margin: 2em;
}

.links {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.links h1 {
    color: #2B7A78;
    margin: 2em;
}

.contact {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.contact h1 {
    color: #2B7A78;
    margin: 2em;
}

/*
 * Footer
 */

.footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #17252A;
    border-top: 1rem solid #2B7A78;
}

.footer p:last-child {
    margin-bottom: 0;
}

.footer .icons {
    color: #3AAFA9;
    padding-right: 20px;
}

.footer .icons:hover {
    color: #DEF2F1;
}

.footer-elements {
    position: absolute;
    bottom: 30%;
    left: 50%;
    margin-left: -100px;
    transform: translateX(-30%);
}

.timeline-badge {
    background-color: #2B7A78 !important;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

@media only screen and (min-width: 769px) {
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
    }

    .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.btn-view-link:hover,
.btn-view-link:focus,
.btn-view-link:active,
.btn-view-link.active,
.open > .dropdown-toggle.btn-view-link {
    color: #fff;
    background-color: #3AAFA9;
    border-color: #3AAFA9;
    box-shadow: none;
}

.link-title {
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .offset-md-1 > .timeline:before {
        left: 90%;
    }

    .offset-md-1 > .timeline > li > .timeline-badge {
        left: 90%;
    }

    .offset-md-1 > .timeline > li > .timeline-panel {
        width: 80%;
        float: left;
    }

    .offset-md-1 > .timeline > li > .timeline-panel:before {}

    .about .desc {
        border-left: 0px;
    }
}
