@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');


.header h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Roboto', sans-serif;
}


.about h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.navbar-scrolling {
    background-color: #FEFFFF;

}

.nav-link {
    color: #FEFFFF;
    cursor: pointer;
    border-bottom: transparent solid 2px;
    padding-bottom: 5px;
}

.navbar-brand {
    color: transparent;
    cursor: default;
    border-bottom: transparent solid 2px;
    padding-bottom: 5px;
}

.navbar-brand:hover {
    color: transparent
}

.navbar-brand-scrolling {
    color: #2B7A78;
    cursor: pointer;
    border-bottom: transparent solid 2px;
    padding-bottom: 5px;
}

.navbar-brand-scrolling:hover {
    color: #17252A
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #FEFFFF;
    border-bottom: #3AAFA9 solid 2px;
    border-radius: 1px;
}

.nav-link-scrolling {
    margin-right: 1em !important;
    color: #2B7A78;
}

.nav-link-scrolling:hover {
    color: #2B7A78;
    ;
    border-bottom: #17252A solid 2px;
    border-radius: 1px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #FEFFFF !important;
}


/*header style*/
.header {
    background: linear-gradient(rgba(20, 20, 20, .75),
        rgba(20, 20, 20, .75)),
        url('https://farm5.staticflickr.com/4824/44596390480_96a1226539_h.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

.header .icons {

    color: #3AAFA9;
    padding-right: 20px;
}

.header .icons:hover {
    color: #DEF2F1;
}

.header-icon {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

#header-scroll-icon {
    position: absolute;
    bottom: 15px;
    left: 50%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.color-light {
    color: #DEF2F1;
}

.full-opacity {
    opacity: 1;
}


.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: #3AAFA9;
}

.description p {
    color: #DEF2F1;
    font-size: 20px;
    width: 60%;
    line-height: 1.5;
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1 {
    color: #2B7A78;
    margin: 2em;
}

.about img {
    height: 100%;
    width: 100%;
    border-radius: 50%
}

.about span {
    display: block;
    color: #17252A;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #3AAFA9;
}

.about .desc p {
    line-height: 2;
    color: #17252A;
}

/*
 * Footer
 */
.footer {
    /*padding: 2.5rem 0;*/
    padding-bottom: 5rem;
    text-align: center;
    background-color: #17252A;
}

#particles-js-footer {
    position: absolute;
    width: 100%;
    height: 50%;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.footer .icons {
    color: #3AAFA9;
    padding-right: 20px;
}

.footer .icons:hover {
    color: #DEF2F1;
}

.footer-elements {
    position: absolute;
    bottom: 30%;
    left: 50%;
    margin-left: -100px;
    transform: translateX(-30%);
}
